#cs441p1_font_wrapper {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	border-style: dotted;
	border-width: 1px;
	border-color: #000000;
	padding: 10px;
	width: 500px;
}

#cs441p1_font_wrapper h1 {
	color: #FF0538;
	font-weight: bold;
	font-size: 150%;
}

#cs441p1_font_wrapper table {
	border: none;
	width:50%;
	margin-left:25%;
	margin-right:25%;
}
#cs441p1_font_wrapper .cs441p1_tleft {
	font-weight: bold;
	text-align: left;
	width: 40%;
}
#cs441p1_font_wrapper .cs441p1_tright {
	text-align: right;
}

#cs441p1_font_wrapper button {
	background-color: #000000;
	border: none;
	color: #FF0538;
	padding: 5px;
	font-weight: bold;
}

#cs441p1_font_wrapper a {
	color: #FF0538;
	font-weight: bold;
	text-decoration: none;
}
#cs441p1_font_wrapper a:hover {
	color: #000000;
}
